<nav class="navbar navbar-expand-lg navbar-dark 
	{{^config.inline}}
	fixed-top
	{{/config.inline}} bg-dark">
	<div class="container">
		<a class="navbar-brand" href="#">IFM</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="true" aria-label="{{i18n.toggle_nav}}">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<div class="navbar-nav mr-auto">
				<form class="form-inline mt-2 mt-md-0">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text" id="currentDirLabel">{{i18n.path_content}} {{showpath}}</span>
						</div>
						<input class="form-control" id="currentDir" aria-describedby="currentDirLabel" type="text">
					</div>      
				</form>
			</div>
			<ul class="navbar-nav">
				{{#config.showrefresh}}
				<li class="nav-item">
					<a id="refresh" class="nav-link">
						<span title="{{i18n.refresh}}" class="fa fa-2x fa-refresh fa-fw"></span>
						<span class="d-inline d-lg-none">{{i18n.refresh}}</span>
					</a>
				</li>
				{{/config.showrefresh}}
				{{#config.search}}
				<li class="nav-item">
					<a id="search" class="nav-link">
						<span title="{{i18n.search}}" class="fa fa-2x fa-search fa-fw"></span>
						<span class="d-inline d-lg-none">{{i18n.search}}</span>
					</a>
				</li>
				{{/config.search}}
				{{#config.upload}}
				<li class="nav-item">
					<a id="upload" class="nav-link">
						<span title="{{i18n.upload}}" class="fa fa-2x fa-upload fa-fw"></span>
						<span class="d-inline d-lg-none">{{i18n.upload}}</span>
					</a>
				</li>
				{{/config.upload}}
				{{#config.createfile}}
				<li class="nav-item">
					<a id="createFile" class="nav-link">
						<span title="{{i18n.file_new}}" class="fa-stack">
							<span class="fa fa-file-o fa-stack-2x fa-fw"></span>
							<span class="fa fa-plus fa-stack-1x fa-fw"></span>
						</span>
						<span class="d-inline d-lg-none">{{i18n.file_new}}</span>
					</a>
				</li>
				{{/config.createfile}}
				{{#config.createdir}}
				<li class="nav-item">
					<a id="createDir" class="nav-link">
						<span title="{{i18n.folder_new}}" class="fa-stack">
							<span class="fa fa-fw fa-folder-o fa-stack-2x"></span>
							<span class="fa fa-fw fa-plus fa-stack-1x"></span>
						</span>
						<span class="d-inline d-lg-none">{{i18n.folder_new}}</span>
					</a>
				</li>
				{{/config.createdir}}
				{{#config.remoteupload}}
				<li class="nav-item">
					<a id="buttonRemoteUpload" class="nav-link">
						<span title="{{i18n.upload_remote}}" class="fa fa-2x fa-cloud-upload fa-fw"></span>
						<span class="d-inline d-lg-none">{{i18n.upload_remote}}</span>
					</a>
				</li>
				{{/config.remoteupload}}
				{{#config.ajaxrequest}}
				<li class="nav-item">
					<a id="buttonAjaxRequest" class="nav-link">
						<span title="{{i18n.ajax_request}}" class="fa fa-2x fa-external-link fa-fw"></span>
						<span class="d-inline d-lg-none">{{i18n.ajax_request}}</span>
					</a>
				</li>
				{{/config.ajaxrequest}}
				{{#config.auth}}
				<li class="nav-item">
					<a href="?api=logout" id="buttonLogout" class="nav-link">
						<span title="{{i18n.logout}}" class="fa fa-2x fa-sign-out fa-fw"></span>
						<span class="d-inline d-lg-none">{{i18n.logout}}</span>
					</a>
				</li>
				{{/config.auth}}
			</ul>
		</div>
	</div>
</nav>
<div id="filedropoverlay">
	<h1>{{i18n.upload_drop}}</h1>
</div>
<main role="main">
	<div class="container">
		<table id="filetable" class="table">
			<thead>
				<tr>
					<th class="th-meta hidden never" data-visible="false"></th>
					<th class="th-filename all">{{i18n.filename}}</th>
					{{#config.download}}
					<th class="th-download all"></th>
					{{/config.download}}
					{{#config.showlastmodified}}
					<th class="th-lastmod tablet-l desktop">{{i18n.last_modified}}</th>
					{{/config.showlastmodified}}
					{{#config.showfilesize}}
					<th class="th-size tablet-p tablet-l desktop">{{i18n.size}}</th>
					{{/config.showfilesize}}
					{{#config.showpermissions}}
					<th class="th-permissions d-none d-md-table-cell tablet-p tablet-l desktop">{{i18n.permissions}}</th>
					{{/config.showpermissions}}
					{{#config.showowner}}
					<th class="th-owner d-none d-lg-table-cell tablet-l desktop">{{i18n.owner}}</th>
					{{/config.showowner}}
					{{#config.showgroup}}
					<th class="th-group d-none d-xl-table-cell desktop">{{i18n.group}}</th>
					{{/config.showgroup}}
					<th class="th-buttons buttons all"></th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>        
	</div>
	<div class="container">
		<div class="card ifminfo">
			<div class="card-body p-2">
				<div class="ifminfo-footer-text">{{i18n.footer}}
					<a href='https://github.com/misterunknown/ifm/releases/tag/IFM_VERSION' target=_blank>IFM_VERSION</a>
				</div>
				<a class="ifminfo-github-link" href="http://github.com/misterunknown/ifm" target="_blank" title="{{i18n.github}}">
					<span class="icon fa fa-github"></span>
				</a>
			</div>
		</div>
	</div>
</main>
