		<nav class="navbar navbar-inverse
			{{^config.inline}}
			navbar-fixed-top
			{{/config.inline}}
		">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand">IFM</a>
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="navbar-collapse collapse" id="navbar">
					<form class="navbar-form navbar-left">
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon" id="currentDirLabel">Content of <span id="docroot">{{showpath}}</span></span>
								<input class="form-control" id="currentDir" aria-describedby="currentDirLabel" type="text">
							</div>
						</div>
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li><a id="refresh"><span title="refresh" class="icon icon-arrows-cw"></span> <span class="visible-xs">refresh</span></a></li>
						{{#config.upload}}
						<li><a id="upload"><span title="upload" class="icon icon-upload"></span> <span class="visible-xs">upload</span></a></li>
						{{/config.upload}}
						{{#config.createfile}}
						<li><a id="createFile"><span title="new file" class="icon icon-doc-inv"></span> <span class="visible-xs">new file</span></a></li>
						{{/config.createfile}}
						{{#config.createdir}}
						<li><a id="createDir"><span title="new folder" class="icon icon-folder"></span> <span class="visible-xs">new folder</span></a></li>
						{{/config.createdir}}
						<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="icon icon-down-open"></span></a>
							<ul class="dropdown-menu" role="menu">
								{{#config.remoteupload}}
								<li><a id="buttonRemoteUpload"><span class="icon icon-upload-cloud"></span> remote upload</a></li>
								{{/config.remoteupload}}
								{{#config.ajaxrequest}}
								<li><a id="buttonAjaxRequest"><span class="icon icon-link-ext"></span> ajax request</a></li>
								{{/config.ajaxrequest}}
								{{#config.auth}}
								<li><a id="buttonLogout" href="?api=logout"><span class="icon icon-logout"></span> logout</a></li>
								{{/config.auth}}
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
			<table id="filetable" class="table">
				<thead>
					<tr>
						<th>Filename</th>
						{{#config.download}}
						<th><!-- column for download link --></th>
						{{/config.download}}
						{{#config.showlastmodified}}
						<th>last modified</th>
						{{/config.showlastmodified}}
						{{#config.showfilesize}}
						<th>size</th>
						{{/config.showfilesize}}
						{{#config.showpermissions}}
						<th class="hidden-xs">permissions</th>
						{{/config.showpermissions}}
						{{#config.showowner}}
						<th class="hidden-xs hidden-sm">owner</th>
						{{/config.showowner}}
						{{#config.showgroup}}
						<th class="hidden-xs hidden-sm hidden-md">group</th>
						{{/config.showgroup}}
						<th class="buttons"><!-- column for buttons --></th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		<div class="container">
			<div class="panel panel-default footer"><div class="panel-body">IFM - improved file manager | ifm.php hidden | <a href="http://github.com/misterunknown/ifm">Visit the project on GitHub</a></div></div>
		</div>
