<form id="formUploadFile">
<div class="modal-body">
	<fieldset>
		<label>{{i18n.upload_file}}</label><br>
		<input class="form-control-file" type="file" name="files" multiple><br>
		<label>{{i18n.filename_new}}</label>
		<input class="form-control" type="text" name="newfilename"><br>
	</fieldset>
</div>
<div class="modal-footer">
	<button class="btn btn-secondary" id="buttonUpload">{{i18n.upload}}</button>
	<button class="btn btn-secondary" id="buttonCancel">{{i18n.cancel}}</button>
</div>
</form>
