<form id="formRemoteUpload">
<div class="modal-body">
	<fieldset>
		<label>{{i18n.upload_remote_url}}</label><br>
		<input class="form-control" type="text" id="url" name="url" required><br>
		<label>{{i18n.filename}}</label>
		<input class="form-control" type="text" id="filename" name="filename" required><br>
		<label>{{i18n.method}}</label>
		<input type="radio" name="method" value="curl" checked="checked">cURL<input type="radio" name="method" value="file">file</input><br>
	</fieldset>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" id="buttonUpload">{{i18n.upload}}</button>
	<button type="button" class="btn btn-primary" id="buttonCancel">{{i18n.cancel}}</button>
</div>
</form>
