<form id="formAjaxRequest">
<div class="modal-body">
	<fieldset>
		<div class="form-group">
			<label for="ajaxurl">URL</label>
			<input class="form-control" type="url" id="ajaxurl" required>
		</div>
		<div class="form-group">
			<label for="ajaxdata">{{i18n.data}}</label>
			<textarea class="form-control" id="ajaxdata"></textarea>
		</div>
		<div class="form-group">
			<legend>{{i18n.method}}</legend>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="radio" id="radioget" name="arMethod" value="GET">
				<label class="form-check-label" for="radioget">GET</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="radio" id="radiopost" name="arMethod" value="POST" checked="checked">
				<label class="form-check-label" for="radiopost">POST</label>
			</div>
		</div>
		<button type="button" class="btn btn-success" id="buttonRequest">{{i18n.request}}</button>
		<button type="button" class="btn btn-danger" id="buttonClose">{{i18n.cancel}}</button>
		<div class="form-group">
			<label for="ajaxresponse">{{i18n.response}}</label>
			<textarea class="form-control" id="ajaxresponse"></textarea>
		</div>
	</fieldset>
</div>
</form>
