<form id="formFile">
<div class="modal-body">
	<fieldset>
		<label>{{i18n.filename}}:</label>
		<input type="text" class="form-control" name="filename" value="{{filename}}"><br>
		<div id="content" name="content"></div><br>
		<button type="button" class="btn btn-default" id="editoroptions">{{i18n.editor_options}}</button>
		<div class="hide" id="editoroptions-head">{{i18n.options}}</div>
		<div class="hide" id="editoroptions-content">
			<input type="checkbox" id="editor-wordwrap"> {{i18n.word_wrap}}</input><br>
			<input type="checkbox" id="editor-softtabs"> {{i18n.soft_tabs}}</input>
			<div class="input-group"><span class="input-group-addon">{{i18n.tab_size}}</span><input class="form-control" type="text" size="2" id="editor-tabsize" title="{{i18n.tab_size}}"></div>
		</div>
	</fieldset>
</div>
<div class="modal-footer">
	<button type="button" id="buttonSave" class="btn btn-default">{{i18n.save}}</button>
	<button type="button" id="buttonSaveNotClose" class="btn btn-default">{{i18n.save_wo_close}}</button>
	<button type="button" id="buttonClose" class="btn btn-default">{{i18n.close}}</button>
</div>
</form>
