<form id="formCopyMove">
<fieldset>
	<div class="modal-body">
		<label>{{i18n.select_destination}}:</label>
		<div id="copyMoveTree"><div class="text-center"><span class="icon icon-spin5 animate-spin"></span></div></div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" id="copyButton">{{i18n.copy}}</button>
		<button type="button" class="btn btn-default" id="moveButton">{{i18n.move}}</button>
		<button type="button" class="btn btn-default" id="cancelButton">{{i18n.cancel}}</button>
	</div>
</fieldset>
</form>
