<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css"/>
<style type="text/css">
@@@file:src/includes/bootstrap-treeview.min.css@@@
@@@file:src/includes/fontello-embedded.css@@@
@@@file:src/includes/animation.css@@@
@@@file:src/style.css@@@
</style>
