body {
	padding-top: 70px;
	overflow-y: scroll !important;
}

/*
 * This prevents the content from moving when opening a modal
 */
.modal-open {
	padding-right: 0 !important;
}

.icon {
	font-size: 14pt;
}

#filetable td:nth-child(5), #filetable th:nth-child(5) {
	text-align: center;
}
#filetable td:nth-child(6), #filetable th:nth-child(6) {
	text-align: center;
}
#filetable tr td:last-child {
	text-align: right;
}
#filetable td:last-child a:hover {
	text-decoration: none;
}

a { cursor: pointer !important; }
a.ifmitem:focus { outline: 0 }

img.imgpreview { max-width: 100%; }

div#content { width: 100%; height: 350px; }

input[name=newpermissions] { padding: 6px 8px; }

#filetable tr th.buttons { min-width: 95px; }
#filetable tbody tr.highlightedItem { box-shadow: 0px 0px 10px 2px #337ab7; }
#filetable tbody tr.highlightedItem td:first-child a { outline: none; }
#filetable tbody tr.selectedItem { background-color: #337ab7; color: #FFF; }
#filetable tbody tr.selectedItem * a { color: #FFF; }
#filetable tbody tr td { vertical-align: inherit; }

#navbar { max-width: 100%; }

div.ifminfo { color: #adadad; font-size: 10pt; }
div.ifminfo div.panel-body { padding: 5px !important; }

@media (max-width: 768px) {
	.icon { font-size: 12pt; }
	#filetable tr th.buttons { min-width: 85px !important; }
}

footer {
	position: fixed;
	padding-top: 1em;
	border-top: 1px;
	background-color: #EEE;
	bottom: 0;
	width: 100%;
	max-height: 6em;
	overflow:hidden;
}

#waitqueue .progress {
	position:relative;
	margin-bottom: 0;
}
#waitqueue .progbarlabel {
	position:absolute;
	top: 0;
	left: 10px;
	font-weight: bold;
}

#filedropoverlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #FFF;
	background-color: lightblue;
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
}

#filedropoverlay div {
    border-radius: 5px;
    color: #000;
    position:relative;
    top:50%;
	font-size: 6em;
}

.td-permissions { width: 1px; }
