body {
	padding-top: 70px;
	overflow-y: scroll !important;
}

main {
	margin-bottom: 1rem;
}

a {
	cursor: pointer !important;
}

a.ifmitem:focus {
	outline: 0
}

img.imgpreview {
	max-width: 100%;
	background-repeat: repeat repeat;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAAAAACoWZBhAAABI2lDQ1BJQ0MgcHJvZmlsZQAAKJGdkLFKw1AUhr9UsaXYSXEQhwyuBRHM5FIVgqAQYwWrU5qkWExiSFKKb+Cb6MN0EASfwCdQcPa/0cHBLF44/B+Hc/7/3gstOwnTcnkH0qwqXH8wuhxd2e032nTosksvCMt84HknNJ7PVyyjL33j1Tz351mJ4jKULlRZmBcVWPtiZ17lhlWs3w79Q/GD2I7SLBI/ibejNDJsdv00mYU/nuY2q3F2cW76qi1cjjnFw2bMjCkJFX1pps4RDntSl4KAe0pCaUKs3lwzFTeiUk4uB6KhSLdpyNus8zyljOUxlZdJuCOVp8nD/O/32sdZvWltLPKgCOrWkqo1mcD7I/RGsPYM3euGrM7vtzXMOPXMP9/4BdaxUFxWskm6AAAAAmJLR0QAy6Y7OAoAAAAJcEhZcwAALiMAAC4jAXilP3YAAAAiSURBVAjXY/zPwMDAcIaBgYGBiQEOCDJZzjAwMDCYkKoNAPmXAuEuYku0AAAAAElFTkSuQmCC");
}

div#content { /* is for the ACE editor */
	width: 100%;
	height: 350px;
}

/* label {
	display: inline-block;
	margin-bottom: .5rem;
	font-weight: 700;
} */

/* Make tables more compact (overwrites bootstrap default of 0.75rem) */
.table td, .table th {
	padding: 0.25rem;
}

/* narrow navbar */
.navbar {
	padding: 0.3rem !important;
}

/*
 * Icon size
 */
.icon {
	font-size: 14pt;
}
@media (max-width: 768px) {
	.icon { font-size: 12pt; }
	#filetable tr th.buttons { min-width: 85px !important; }
}

/*
 * Filetable related settings
 */
#filetable th {
	border-top: 0;
}
#filetable td:nth-child(5), #filetable th:nth-child(5) {
	text-align: center;
}
#filetable td:nth-child(6), #filetable th:nth-child(6) {
	text-align: center;
}
#filetable tr td:last-child {
	text-align: right;
}
#filetable td:last-child a:hover {
	text-decoration: none;
}
.td-permissions { width: 1px; }

input[name=newpermissions] {
	padding: 6px 8px;
	width: 6.5rem;
}

#filetable tr th.buttons { min-width: 95px; }
#filetable tbody tr.highlightedItem { box-shadow: 0px 0px 10px 2px #337ab7; }
#filetable tbody tr.highlightedItem td:first-child a { outline: none; }
#filetable tbody tr.selectedItem { background-color: #337ab7; color: #FFF; }
#filetable tbody tr.selectedItem * a { color: #FFF; }
#filetable tbody tr td { vertical-align: inherit; }

div.ifminfo { color: #adadad; font-size: 10pt; }
div.ifminfo div.panel div.panel-body { padding: 0px !important; text-align:  center; }

/*
 * Footer / Task-Queue settings
 */
footer {
	position: fixed;
	padding-top: 1em;
	border-top: 1px;
	background-color: #EEE;
	bottom: 0;
	width: 100%;
	overflow: hidden;
}

#waitqueue {
	max-height: 6rem;
}

#waitqueue .progress {
	position: relative;
	margin-bottom: 0;
}
#waitqueue .progbarlabel {
	position:absolute;
	top: 0;
	left: 10px;
	font-weight: bold;
}

/*
 * File drop overlay
 */
#filedropoverlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #FFF;
	background-color: lightblue;
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
	z-index: 1000;
}

#filedropoverlay h1 {
	border-radius: 5px;
	color: #000;
	position:relative;
	top:50%;
	font-size: 6em;
	pointer-events: none;
}


/*
 * Datatables related settings
 */
table.dataTable thead th {
	position: relative;
	background-image: none !important;
}

/* remove original sort icons */
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
	right: 0 !important;
	content: "" !important;
}
/* custom sort icons */
table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
	position: absolute;
	top: 6px;
	right: 8px;
	display: block;
	font-family: fontello;
	font-size: 0.8em;
	opacity: 1;
	color: #000;
}
table.dataTable thead th.sorting:after {
	content: "\F0DC";
	color: #ddd;
}
table.dataTable thead th.sorting_asc:after {
	content: "\f0de";
}
table.dataTable thead th.sorting_desc:after {
	content: "\f0dd";
}

/*
 * Modal related settings
 */
#copyMoveTree {
	max-height: 80vh;
	overflow: auto;
}

.modal-open {
    padding-right: 0px !important;
}

@media (min-width: 576px) {
	.modal-dialog {
		max-width: 600px;
		margin: 1.75rem auto;
	}
}

@media (min-width: 992px) {
	.modal-lg, .modal-xl {
		max-width: 800px;
	}
}
